<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>

<footer th:fragment="footer" class="text-center py-3 bg-light border-top fixed-bottom">
    <div class="container">
        <span class="text-muted">&copy; 2025 - Ticket Platform. Tutti i diritti riservati.</span>
    </div>
</footer>

    
</body>


</html>